.card{
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    text-overflow: ellipsis;
    box-sizing: border-box;
    width: 30vw;
    height: 70vh;
    margin: 70px auto;
}

.image{
    width: 90%;
    height: 200px;
    /* padding-top: 70px; */
    margin: auto;
    padding-bottom: 200px;
    /* margin-right: 100px; */
    border-radius: 20px;
}